<div class="row d-flex justify-content-between setpadding14 mt-4">
  <div class="d-inline-flex align-items-baseline color-1">
    <fa-icon [icon]="faCircle"></fa-icon>
    <h6 class="ml-3">Magazine</h6>
  </div>
  <h6 style="text-transform: initial;"><a class="color-3 text-decoration-none">Mostra
      tutti</a></h6>
</div>
<div class="row setpadding14 mt-2 d-flex flex-row">
  <app-card-events></app-card-events>
  <app-card-events></app-card-events>
  <app-card-events></app-card-events>
  <app-card-events></app-card-events>
</div>
