.mat-expansion-panel {
  min-height: 5rem;
}

.closed {
  color: #ea794d;
}
.open {
  list-style: none;
}
.hidden {
  display: none;
}

li {
  direction: rtl;
  margin: auto;
}

h6 {
  text-transform: none;
  color: black;
  font-size: 0.8rem;
}
p {
  margin: auto;
  font-size: 0.7rem;
}

.mat-expansion-panel-header /deep/ .mat-expansion-indicator::after {
  color: gray;
  font-size: 0.8rem;
}
.mat-expansion-panel-header /deep/ span.mat-expansion-indicator {
  align-self: center;
}

@media screen and (min-width: 769px) {
  .display-f {
    display: flex;
    align-items: baseline;
  }
  li {
    direction: initial;
    margin: 0;
  }
  p {
    margin-right: 3rem;
    margin-top: 1.5rem;
  }
}
