nav {
  padding: 0 10% 0 10%;
}
.navbar {
  box-shadow: 0px 0px 3px #dedede;
  background-color: white;
}

@media screen and (max-width: 767px){
  nav{
    justify-content: center!important;
    padding: 0;
  }
}
