<div class="card-body">
    <div class="d-flex align-items-baseline justify-content-between">
      <h6 class="card-title color-1">Postural Training</h6>
      <a href="#">
        <fa-icon class="color-1" [icon]="faChevronRight"></fa-icon>
      </a>
    </div>
      <h6 class="card-title color-1">Oggi</h6>
    <div class="d-flex align-items-baseline justify-content-between">
      <h6 class="card-title">11.10 <small class="text-muted">11.40</small></h6>
      <p class="card-text"><small class="text-muted">
          <fa-icon [icon]="faClock"></fa-icon> 30 min
        </small></p>
    </div>
    <hr class="d-none">
    <div class="d-flex align-items-baseline justify-content-between">
        <p class="card-text"><small class="color-3">{{numberWaitingList}} persone prima di te</small></p>
        <app-button0></app-button0>
    </div>
</div>
