.container-fluid{
  background-image: url("../../assets/bg-attivi.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 15rem !important;
}
h1{
  color: white;
}
